<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Form</title>    
    <link rel="stylesheet" type="text/css" href="css/style.css">    
</head>    
<body> 
    <style>
        body  {  
            margin: 0;  
            padding: 0;  
            background-color:#6abadeba;  
            font-family: 'Arial';  
        }  
        h2{  
            text-align: center;  
            color: #277582;  
            padding: 20px;  
        }   
 
    </style>   
    <h2>Copy/paste the access token of your browser navbar. Thanks!</h2><br>        
</div>    
</body>    
</html>